

.body_container {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;

    font-size: 100%;
    font-family: sans-serif;
    font-size: 14.5px;

    box-sizing: border-box;
    list-style: none;

    display: flex;
    flex-direction: column;
}

/* ######## HEADER ######## */

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;

    top: 0;

    width: 100%;

}

.nav_bar {
    display: flex;
}

.left_top {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    align-items: center;
    
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 20px;
    margin-bottom: 12px;
    
}

.about {
    display: flex;
    
    padding-right: 5px;

    text-decoration: none;

    color:#2d2d2d;
}

.store {
    display: flex;

    padding-left: 5px;

    text-decoration: none;

    color: #2d2d2d;

}

.right_top {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    align-items: center;
    
    padding-top:  10px;
    padding-right: 5px;
    padding-left: 25px;
    padding-bottom: 5px;

}

svg.gb_Xe {
    display: flex;
    opacity: 1;

    height: 25px;
    width: 25x;

    margin-right: 15px;
}

svg.gb_Xe {
    fill: #4c4c4c;
}

svg.gb_Xe:hover path {
    fill: green;
}

.round_hover {
    display: flex;

    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
    
    cursor: pointer;
}



.gmail {
    display: flex;
    justify-content: space-between;

    padding-right: 5px;
    margin: 5px;
    margin-right: 8px;

    text-decoration: none;

    color: #2d2d2d;
}

.images {
    display: flex;

    padding-right: 5px;
    margin: 5px;
    margin-right: 20px;

    text-decoration: none;

    color: #2d2d2d;
}

.profile_pic {
    display: flex;
    align-self: center;

    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 7px;
    width: 38px;
    height: 38px;
}

.profile_pic:hover {
    /* box-shadow: 0px 0px 7px 0 rgba(0,0,0,0.1), 
                0px 0px 7px 0 rgba(0,0,0,0.1); */

    box-shadow: grey;
    
  }

/* ####### MAIN ######## */

.main_container {
    background-color:white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    margin-top: 120px;
    
    
}

.hero {
    display: flex;

    margin-top: 128px;
    margin-bottom: 25px;
    
}

/***** SEARCH FORM INPUT  *******/

/* for hover later
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
border-radius: 8px;
*/

cd-form {
    background: white;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
    
    display: flex;
    
}
input[type="text"] {
  width: 100%;
  border: 1px solid rgb(223, 209, 209);
  border-radius: 20px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  width: 585px;
  height: 45px;

  transition-duration: 2ms ease-in-out;

}

input[type="text"]:hover {
  box-shadow: 0px 0px 7px 0 rgba(0,0,0,0.1), 
              0px 0px 7px 0 rgba(0,0,0,0.1);
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

div.inputWithIcon {
  position: relative;
}


.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 14px;
  padding: 9px 8px;
  padding-left: 14px;

  color: #aaa;
}


/***** SEARCH FORM INPUT  *******/

.buttons {
    margin-top: 25px;
}

.search_btn {
    border: solid 1px transparent;
    border-radius: 5px;

    background: #f8f8f8;

    font-size: 14px;
    color:#2d2d2d;

    padding: 10px 15px;

    text-decoration: none;
    text-align: center;

    transition: 0.2s ease-in-out;
}
.search_btn:first-of-type {
    margin-right: 1rem;
}


.search_btn:hover {
    border: solid 1px rgb(223, 209, 209);
    box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.1), 
                0px 0px 2px 0 rgba(0,0,0,0.1);
    cursor: pointer;
}





/* ######## FOOTER ######## */

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: absolute;
    bottom: 0;

    width: 100%;
}

.bottom_left {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.advertising {
    display: flex;

    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 20px;

    color: #2d2d2d;
}

.business {
    display: flex;

    margin: 15px;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 20px;

    color: #2d2d2d;
}

.how_search_works {
    display: flex;

    margin: 15px;
    margin-left: 12px;
    margin-bottom: 0px;
    margin-top: 20px;

    color: #2d2d2d;
}

.bottom_right {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    color: #2d2d2d;
}

.privacy {
    display: flex;

    margin: 15px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.terms {
    display: flex;

    margin: 15px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.settings {
    display: flex;

    margin: 15px;
    margin-bottom: 0px;
    margin-top: 20px;
}